<html>
<head>
<meta name="google-site-verification" content="61rit6r36_KB9UyeWOUTR3ziMtJ4z3QLB0j1ggpj99E" />
	{% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="{% static "sweetalert.min.js" %}"></script> 
	<link rel="stylesheet" type="text/css" href="{% static "sweetalert.css" %}">
	  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<meta name="description" content="TORRENT SITE (TORZ)
torrents best sorted torrents movies music games apps windows applications">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<title>
		TORZ
	</title>
</head>

<script type="text/javascript">

function torzInput() {
	swal({   title: "What do you like?",   text: "Write a movie name or a tv show or anything related to entertainment",   type: "input",   showCancelButton: true,   closeOnConfirm: false,   animation: "slide-from-top",   inputPlaceholder: "Write something" }, function(inputValue){   if (inputValue === false) return false;      if (inputValue === "") {     swal.showInputError("You need to write something!");     return false   }


function about() {

  swal("Welcome to Torz!")
  return false
}


		window.location = "http://torz.herokuapp.com/add-knowledge/"+inputValue;


	 });
}


torzInput();


</script>

{% if flag %}

<script type="text/javascript">


$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });

</script>


{% endif %}

<script type="text/javascript">


swal("Good job!", "no.", "success")


</script>

<style>
.card .card-content {
    margin: 0 auto;
}
</style>

<a title="Web Statistics" href="http://clicky.com/100940308"><img alt="Web Statistics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100940308); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100940308ns.gif" /></p></noscript>


<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>
   <nav>
    <div class="nav-wrapper blue dark" class="card-panel teal lighten-2">
      <a href="/" class="brand-logo">TORZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about/">ABOUT</a></li>
        <li><a href="/working/">HOW IT WORKS?</a></li>
        <li><a href="/torz-brain/">TORZ'S BRAIN</a></li>
        <li><a href="/best-torrents/">BEST TORRENTS RATED BY OUR USERS</a></li>
      </ul>
    </div>
  </nav>
        
<div class="container">
  
  <div class="text-center">

     <blockquote>
      <span class="blue-text text-darken-2">
    <h1><b><i>SEARCH</i></b></h1>
    </span>
    <form action = "/search/">
  <input type="text"  name = "search" placeholder="SEARCH FOR A TORRENT"class="form-control" id="usr">
</form>
</blockquote>
    
    <p class="lead">


<div class="container">
  <div class="jumbotron">
    <h1><b><i><u>WELCOME!</u></i></b></h1> 
    <p>TORZ is a system that collects best torrents available on reputed sites and shows it you, it has an Artificial Intelligence System that promotes social share so that you find best and new TV SHOWS.<br>
      <B>[ TORZ UPDATES ITS BRAIN PERIODICALLY  AT 5 AM]<br><br>
<a  onclick="torzInput()" class="waves-effect waves-light btn-large" >TEACH TORZ SOMETHING</a><br><br>
<div class="form-group">
  <blockquote>
  <form action="/ask/">
    <h1><b><i></i></b></h2> <input size="50" placeholder = "ASK ME ANYTHING" type="text" name="query">
  </form>
  </blockquote>

</div>
</div>

  <center><h3><b><i>TRENDING QUERIES LEARNT BY TORZ</i></b></h3></center>

  {% for k in data %}

  <a class="collection-item waves-effect waves-light btn-large" data-toggle="collapse" href="view-best-torrents?query={{k}}" data-target="#demo"><b>{{ k }}</b></a>

{% endfor %}





</p>


  </div>
  
</div><!-- /.container -->
        
</div>
</div>




<footer class="page-footer blue-dark">
          <div class="container blue-dark">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">TORZ</h5>
                <p class="grey-text text-lighten-4">BRIGHTEN YOUR MINDS WITH TORZ.<br>
                  <b><a href="mailto:torz.help@gmail.com">CONTACT</b></a></p>
              </div>
             
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 TORZ AUTHORS
            </div>
          </div>
        </footer>

</body>
</html