<html>
<head>
	{% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="{% static "sweetalert.min.js" %}"></script> 
	<link rel="stylesheet" type="text/css" href="{% static "sweetalert.css" %}">
	  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<title>
		TORZ
	</title>
</head>


<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>
   <nav>
    <div class="nav-wrapper blue dark" class="card-panel teal lighten-2">
      <a href="/" class="brand-logo">TORZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href= "/about/">ABOUT</a></li>
        <li><a href="/working/">HOW IT WORKS?</a></li>
        <li><a href="/torz-brain/">TORZ'S BRAIN</a></li>
      </ul>
    </div>
  </nav>
        
    <p class="lead">


<div class="container">
  <div class="jumbotron">
    <h1>WELCOME TO TORZ!</h1> 
    <p>TORZ is a system that collects best torrents available on reputed sites and shows it you, it has TORZ, A AI System that promotes social share so that you find best and new TV SHOWS<br>.<br><br>

      It has a database of different torrents of latest movies and favourite shows that have been taught by you<br>Our UNIQUE System finds only the best torrents with highest seeders available on the web.<br>TORZ is better than any other torrents as<br>
      <div class="jumbotron">
        <h1><b>WHY IS TORZ THE BEST?</b></h1>
        <ul class = "collection">
        <li class="collection-item"> HAS A UNIQUE DESIGN AND INTERFACE
        <li class="collection-item"> SHOWS ONLY THE BEST WORKING TORRENTS AVAILABLE ON THE WEB FROM REUPTED SITES
        <li class="collection-item"> HAS A UNIQUE FRIENDLY ARTIFICIAL INTELLIGENCE INTERFACE, that stores and finds all the best torrents on web and sorts them.
        <li class="collection-item"> NO ADS OR SILLY POP UPS
        <li class="collection-item">DESIGNED FOR MOBILE, TABLET AND DESKTOP
      </ul>
    </div>
      </ul>
<center><a  href="/" class="waves-effect waves-light btn-large" >TRY TORZ</a><br><br></center>
</div>
</div><!-- /.container -->  
</div>




<footer class="page-footer blue-dark">
          <div class="container blue-dark">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">TORZ</h5>
                <p class="grey-text text-lighten-4">BRIGHTEN YOUR MINDS WITH TORZ.</p>
              </div>
             
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 TORZ AUTHORS
            </div>
          </div>
        </footer>

</body>
</html